<html>
    <body>
        <div>
            <form action='/predict' method="POST">
                <h1 align='center'>IPL SCORE PREDICTION</h1>


                <h3>Select Venue</h3>
                    <select name=venue required='required'><br>
                        <option value="Barabati Stadium">Barabati Stadium</option>
                        <option value="1">brabourne stadium</option>
                        <option value="2">buffalo park</option>
                        <option value="3">dr dy patil sports academy</option>
                        <option value="4">dr. y.s. rajasekhara reddy aca-vdca cricket stadium</option>
                        <option value="5">dubai international cricket stadium</option>
                        <option value="6">buffalo park</option>
                        <option value="7">eden gardens</option>
                        <option value="8">feroz shah kotla</option>
                        <option value="9">himachal pradesh cricket association stadium</option>
                        <option value="10">holkar cricket stadium</option>
                        <option value="11">jsca international stadium complex</option>
                        <option value="12">kingsmead</option>
                        <option value="13">m chinnaswamy stadium</option>
                        <option value="14">ma chidambaram stadium, chepauk</option>
                        <option value="15">maharashtra cricket association stadium</option>
                        <option value="16">new wanderers stadium</option>
                        <option value="17">newlands</option>
                        <option value="18">punjab cricket association is bindra stadium, mohali</option>
                        <option value="19">outsurance oval</option>
                        <option value="20">punjab cricket association stadium, mohali</option>
                        <option value="21">rajiv gandhi international stadium, uppal</option>
                        <option value="22">sardar patel stadium, motera</option>
                        <option value="23">sawai mansingh stadium</option>
                        <option value="24">shaheed veer narayan singh international stadium</option>
                        <option value="25">sharjah cricket stadium</option>
                        <option value="26">sheikh zayed stadium</option>
                        <option value="27">st george's park</option>
                        <option value="28">subrata roy sahara stadium</option>
                        <option value="29">supersport park</option>
                        <option value="30">wankhede stadium</option>
                    </select>

                <h3>Bating team</h3>
                    <select name=bat required='required'><br>
                        <option value="bat_team_Chennai Super Kings">Chennai Super Kings</option>
                        <option value="1">Delhi daredevils</option>
                        <option value="2">kolkata knight riders</option>
                        <option value="3">mumbai indians</option>
                        <option value="4">rajasthan royals</option>
                        <option value="5">royal challengers bangalore</option>
                        <option value="6">sunrisers hyderabad</option>
                        <option value="7">kings xi punjab</option>
        
                    </select>

                <h3>Bowling team</h3>
                    <select name=bowl required='required'><br>
                        <option value="bat_team_Chennai Super Kings">Chennai Super Kings</option>
                        <option value="1">Delhi daredevils</option>
                        <option value="2">kolkata knight riders</option>
                        <option value="3">mumbai indians</option>
                        <option value="4">rajasthan royals</option>
                        <option value="5">royal challengers bangalore</option>
                        <option value="6">sunrisers hyderabad</option>
                        <option value="7">kings xi punjab</option>
                        
                    </select>
                       
                <h3>Current Runs</h3><input name= crun type=number required='required'>
                <h3>Current Wickets</h3><input name=cwic type=number required='required'>
                <h3>Current Over</h3><input name=over type=number step=any required='required'>
                <h3>Last five overs runs</h3><input name=frun type=number required='required'>
                <h3>Last five overs ickets</h3><input name=fwic type=number required='required'>
                <button id='sum' type="submit">Sumbit</button>
                
            </form>
            <div>
                <br>{{pred}}<br>
            </div>
        </div>
    </body>
</html>